
.woosc-products-container {
  display: table;
  width: 100%;

  .woosc-product {
    display: table-row;
    border-bottom: 1px solid #eaeaea;
    align-items: center;
    position: relative;

    .woosc-product-item-col {
      padding: 0 15px;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.woosc-product-thumbnail {
  width: 150px;
  height: auto;

  & > div {
    padding: 10px 0;
  }
}

.woosc-product-cart-action {
  width: 150px;
}

.woosc-product-details {
  width: calc(100% - 300px);
}

.woosc-product-summary {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #eaeaea;
  padding: 10px 0;

  & > div {

    &:first-child {
      flex: 0 0 80%;
      max-width: 80%;
    }

    &:last-child {
      text-align: right;
      flex: 0 0 20%;
      max-width: 20%;
      color: $acl-secondary-color;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: inline-block;
    word-break: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 50.6px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  p {
    margin: 0;
    display: inline-block;
    padding: 5px;
    background-color: #fff7e2;
    font-size: 12px;
    border-radius: 5px;
  }
}

.woosc-product-cart-action {
  .single_variation_wrap {
    margin-top: 8px;
  }

  .reset_variations {
    display: none;
    margin: 5px 0;
    font-size: 14px;
    color: red;
  }

  .woosc-variations {

    //display: none;

    & > div {
      padding: 5px 0 5px 0;
      border-bottom: 1px dashed #eaeaea;

      &:last-child {
        border-bottom: none;
      }

      div.label {
        display: none;
      }

      .variation-radios {
        & > div {
          display: inline-block;

          input[type="radio"] {
            display: none;

            &:checked {

              + label {
                background-color: #000;
                color: #ffffff;
              }
            }
          }

        }

        label {
          padding: 3px 10px;
          border: 1px solid #F5F5F5;
          background-color: #fff;
          margin: 3px 8px 3px 0;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }

  .woosc-product-quantity {
    display: flex;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 120px;

    & > div {
      flex-basis: 33.33%;
      max-width: 33.33%;
      padding: 7px 10px;
      text-align: center;

      &:nth-child(1) {
        @extend %product-search-branding;
        cursor: pointer;
        border-radius: 5px 0 0 5px;
        transition: 0.5s;

        &:hover {
          @extend %product-item-branding;
        }
      }

      &:nth-child(2) {
        background-color: #ffebb6;
      }

      &:nth-child(3) {
        @extend %product-search-branding;
        cursor: pointer;
        border-radius: 0 5px 5px 0;
        transition: 0.5s;

        &:hover {
          @extend %product-item-branding;
        }
      }
    }
  }

  .add_to_cart_button {
    width: 120px;
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    @extend %product-item-branding;

    &.added_to_cart.wc-forward {
      display: none;
    }


  }

  button:disabled {
    background: #969696 !important;
  }
}

.woosc-ajax-pre-loader-container {
  display: table;
  margin: 0 auto;

  img {
    box-shadow: none;
  }
}

.woosc-load-more-wrapper {
  button {
    cursor: pointer;
    border: none;
    width: 120px;
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    margin: 30px auto;
    outline: none;
    @extend %product-search-branding;

    &:hover {
      @extend %product-item-branding;
    }
  }
}
